html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
}

nav a,
.row a,
.cst-row a {
  text-decoration: none !important;
  color: black !important;
}

nav a:hover {
  color: #f18259 !important;
}

nav .nav-link p {
  color: #f18259;
}

nav .nav-link:hover p {
  color: black;
}

nav .nav-link:hover img,
nav a:hover img {
  border: black solid 2px !important;
}

.footer-div {
  position: absolute;
  width: 100%;
}

/* navbar */

.custom-container {
  margin-top: 200px !important;
}
/* 
.navbar-inner-dropdown-box {
  margin-bottom: -50px !important;
} */
/* navbar emd */

/* index page */

.custom-container {
  margin-top: 100px;
  margin-bottom: 50px;
  padding-bottom: 100px !important;
}

.cst-row {
  display: flex !important;
  flex-wrap: wrap;
  flex-wrap: row;
}

.crd-div {
  margin: 0px;
  padding: 0px;
}

.row-inner .custom-crd {
  background-color: white !important;
  border-radius: 5px;
  height: auto !important;
  padding: 40px 25px !important;
  margin: 10px 10px;
}

.crd-name,
.cst-row h3 {
  color: #f18259 !important;
}
/* index page end */

/* login page */

.login-div {
  width: 500px;
}

@media screen and (max-width: 500px) {
  .login-div {
    width: 100% !important;
  }
}
/* login page end */

/* adminHome */

.crd {
  border-radius: 10px;
  overflow: hidden;
}
.crd-bdy {
  border-radius: 0 0 10px 10px;
  background-color: black;
}

.heading-section h3 {
  font-size: 40px !important;
  font-weight: 400 !important;
  position: relative !important;
}

.heading-section p {
  font-size: 20px !important;
  color: #848484;
  font-family: "Open Sans", Arial, sans-serif;
  margin: 30px 0 25px 0;
}

.container .btn-cst {
  background-color: black !important;
  color: white !important;
  border-color: white !important;
}

.container .btn-cst:hover {
  border-color: #f18259 !important;
  background-color: #f18259 !important;
  color: white !important;
}

.container .crd-ttl {
  color: white;
  font-size: 30px;
  font-weight: 400;
}

/* adminHome end */

/* adminManageUser */

.container .cst-tbl .th-col,
.container-fluid .cst-tbl .th-col {
  background-color: #f1815934 !important;
  font-weight: bold !important;
}

/* contact */

.container .flex-container {
  display: flex !important;
  flex-direction: row !important;
  margin-top: 80px;
}

.container .flex-item-left {
  padding: 10px !important;
  flex: 50% !important;
}

.container .flex-item-left li,
.container .flex-item-right li {
  margin-left: -30px !important;
  padding-bottom: 10px;
  padding-top: 10px;
}

.container .flex-item-left p,
.container .flex-item-right p {
  padding-top: 10px;
}

.container .flex-item-left a,
.container .flex-item-left li,
.container .flex-item-right li,
.container .flex-item-left p,
.container .flex-item-right p {
  text-decoration: none;
  color: #848484;
  cursor: context-menu;
}

.container .flex-item-right {
  padding: 10px !important;
  flex: 50% !important;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .container .flex-container {
    flex-direction: column !important;
  }
}

.btn-contact {
  border-color: #f18259 !important;
  background-color: #f18259 !important;
  color: white !important;
}

.btn-contact:hover {
  background-color: #393e46 !important;
  color: white !important;
  border-color: white !important;
}

/* contact end */

/* form */
.container .cst-content {
  background-color: white !important;
  padding: 30px 40px !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px !important;
  border-radius: 5px !important;
}

.modal-open .in,
.modal-open .show {
  z-index: 0 !important;
}
